$base-serif-font: 'Georgia', serif;
$base-sans-font: 'Myriad Pro', sans-serif;

$heading-font-family: $base-serif-font;
$heading-font-weight: 900;

$max-width: (
	xs: 480px,
	sm: 768px,
	md: 992px,
	lg: 1200px
);

$base-font-color: #353535;
$base-font-size: 1.2rem;
$base-padding: 1em;

$base-border-radius: 8px;

//
// Media Queries & Breakpoints
// 

// Extra small screen / phone
$screen-xs:                  480px !default;

// Small screen / tablet
$screen-sm:                  768px !default;

// Medium screen / desktop
$screen-md:                  992px !default;

// Large screen / wide desktop
$screen-lg:                  1200px !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm - 1) !default;
$screen-sm-max:              ($screen-md - 1) !default;
$screen-md-max:              ($screen-lg - 1) !default;

$large-screen:  new-breakpoint(max-width 1200px 12);
$medium-screen: new-breakpoint(max-width  992px 12);
$small-screen:  new-breakpoint(max-width  768px  6);