
.margin--vert-1{margin-top:1em; margin-bottom: 1em;}
.margin--vert-2{margin-top:2em; margin-bottom: 2em;}
.margin--vert-3{margin-top:3em; margin-bottom: 3em;}
.margin--vert-4{margin-top:4em; margin-bottom: 4em;}
.margin--vert-5{margin-top:5em; margin-bottom: 5em;}
.margin--vert-6{margin-top:6em; margin-bottom: 6em;}

@include media($screen-sm) {
    .margin--dsk-vert-1{margin-top:1em; margin-bottom: 1em;}
    .margin--dsk-vert-2{margin-top:2em; margin-bottom: 2em;}
    .margin--dsk-vert-3{margin-top:3em; margin-bottom: 3em;}
    .margin--dsk-vert-4{margin-top:4em; margin-bottom: 4em;}
    .margin--dsk-vert-5{margin-top:5em; margin-bottom: 5em;}
    .margin--dsk-vert-6{margin-top:6em; margin-bottom: 6em;}
}

.margin--horiz-1{margin-left:1em; margin-right: 1em;}
.margin--horiz-2{margin-left:2em; margin-right: 2em;}
.margin--horiz-3{margin-left:3em; margin-right: 3em;}
.margin--horiz-4{margin-left:4em; margin-right: 4em;}
.margin--horiz-5{margin-left:5em; margin-right: 5em;}
.margin--horiz-6{margin-left:6em; margin-right: 6em;}

@include media($screen-sm) {
    .margin--dsk-horiz-1{margin-left:1em; margin-right: 1em;}
    .margin--dsk-horiz-2{margin-left:2em; margin-right: 2em;}
    .margin--dsk-horiz-3{margin-left:3em; margin-right: 3em;}
    .margin--dsk-horiz-4{margin-left:4em; margin-right: 4em;}
    .margin--dsk-horiz-5{margin-left:5em; margin-right: 5em;}
    .margin--dsk-horiz-6{margin-left:6em; margin-right: 6em;}
}

.margin--mob-bot-1{@include media($max-sm){margin-bottom: 1em;}}
.margin--mob-bot-2{@include media($max-sm){margin-bottom: 2em;}}
.margin--mob-bot-3{@include media($max-sm){margin-bottom: 3em;}}
.margin--mob-bot-4{@include media($max-sm){margin-bottom: 4em;}}

.margin--bot-1{margin-bottom: 1em;}
.margin--bot-2{margin-bottom: 2em;}
.margin--bot-3{margin-bottom: 3em;}
.margin--bot-4{margin-bottom: 4em;}
