<header id="header" class="header">
	<a class="hdr-logo-link" href="/" rel="home">{{site.name}}</a>
	{% include 'components/navigation.twig' %}
	<label class="menu--trigger hidden--dsk"><span></span></label>
</header>