body {
    font-family: $base-sans-font;
    line-height: 1.6;
    font-size: $base-font-size;
    @include media(max-width $screen-sm-max) {
        font-size: $base-font-size * 0.9;
    }
    color: $base-font-color;
}

%headings {
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    &.section-title {
        line-height: 2.5;
    }
}

h1, h2, h3, h4, h5, h6 {
    @extend %headings;
}

h1, h2 {
    line-height: 1.2;
}

h3, h4 {
    line-height: 1.4;
}

// mobile
h1 {
    font-size: 2 * $base-font-size;
}

h2 {
    font-size: 1.5 * $base-font-size;
}

h3 {
    font-size: 1.3 * $base-font-size;
}

h4 {
    font-size: 1 * $base-font-size;
}

h5 {
    font-size: 1 * $base-font-size;
}

@include media(min-width $screen-sm) {
    h1 {
        font-size: 2.2 * $base-font-size;
    }
    h2 {
        font-size: 1.7 * $base-font-size;
    }
    h3 {
        font-size: 1.5 * $base-font-size;
    }
    h4 {
        font-size: 1.3 * $base-font-size;
    }
    h5 {
        font-size: 1 * $base-font-size;
    }
}

@include media(min-width $screen-md) {
    h1 {
        font-size: 2.5 * $base-font-size;
    }
    h2 {
        font-size: 2 * $base-font-size;
    }
    h3 {
        font-size: 1.5 * $base-font-size;
    }
    h4 {
        font-size: 1.3 * $base-font-size;
    }
    h5 {
        font-size: 1 * $base-font-size;
    }
}

@include media(min-width $screen-lg) {
    h1 {
        font-size: 4 * $base-font-size;
    }
    h2 {
        font-size: 2.5 * $base-font-size;
    }
    h3 {
        font-size: 2 * $base-font-size;
    }
    h4 {
        font-size: 1.8 * $base-font-size;
    }
    h5 {
        font-size: 1.3 * $base-font-size;
    }
}

em {
    font-style: italic;
}

strong {
    font-weight: 900;
}

ul {
    list-style-type: square;
    li {
        margin-left: 1.5em;
    }
}

ol {
    list-style: decimal;
}

.center {
    text-align: center;
}